@import '../../../variables.scss';

.header {
  padding: 8px $indentMobilePageBorder;
  border-bottom: 1px solid $colorBlack;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $breakpointTablet) {
    padding: 8px $indentTabletPageBorder;
  }
}

.logo {
  width: 68px;
  padding-top: 4px;
}


