@use 'sass:map';

@import '../../../variables.scss';

.header {
  position: relative;
  z-index: 10;
  padding: 8px $indentMobilePageBorder;
  border-bottom: 1px solid $mainBorderColor;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: map.get($breakpoints, sm)) {
    padding: 8px $indentTabletPageBorder;
  }
}

.logo {
  width: 68px;
  padding-top: 4px;
}

.dropdownContainer {
  margin: 0 0 0 auto;
}

.desktopContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.link {
  color: #4a444f;
  text-decoration: none;
  outline: none;
}

.activeLink {
  color: $colorOrange;
  font-weight: 600;
}
