@use 'sass:map';

@import '../../../variables.scss';

.header {
  position: relative;
  z-index: 10;
  padding: 8px $indentMobilePageBorder;
  border-bottom: 1px solid $mainBorderColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  @media (min-width: map.get($breakpoints, sm)) {
    padding: 1px $indentTabletPageBorder;
  }
}

.logo {
  width: 68px;
  padding-top: 4px;
}

.dropdownContainer {
  margin: 0 0 0 auto;
}

.desktopContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0 5%;
}

.link {
  color: #4a444f;
  text-decoration: none;
  outline: none;
}

.subLink {
  @extend .link;

  font-size: 14px;
  font-weight: normal;

  &:hover {
    font-weight: 600;
  }
}

.activeLink {
  color: $colorOrange;
  font-weight: 600;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;

  &:after {
    display: block;
    content: '';
    height: 3px;
    width: 100%;
    background-color: $colorOrange;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.subLinksDropdown {
  top: 60px !important;
  border: 1px solid $colorDarkGray;
  min-width: 150px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.subLinksContainer {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.subLinkItem {
  line-height: normal;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}
