@import '../../../variables.scss';

.image {
  object-fit: cover;
  object-position: center;
  transition: transform 0.2s;
}

.imageWrapper {
  margin: 0 8px;
  line-height: 0;
  border-radius: $imageBorderRadius;
  overflow: hidden;
}

.lightboxImage {
  position: relative;
  width: 100%;
  height: 380px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: block;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $colorBlack;
    opacity: 0;
    transition: opacity 0.1s;
  }

  &:hover {
    &:after {
      opacity: 0.2;
    }

    img {
      transform: scale(1.1);
    }
  }
}

.lightboxImage:focus {
  outline: none;
}

.slickCustomArrow {
  display: block;
  z-index: 1;
  width: auto;
  height: auto;

  &:before {
    color: $colorLightGray;
    opacity: 0.4 !important;
    font-size: 30px;
  }

  &:hover:before {
    color: $colorLightGray;
    opacity: 1 !important;
  }
}

.slickCustomArrowPrevious {
  left: 15px;
}

.slickCustomArrowNext {
  right: 15px;
}
