.formContainer {
  max-width: 60vw;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reCaptcha {
  min-height: 5.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
