@import '../../../variables.scss';

.exhibit {
  padding: 40px 0;
  font-size: $fontSizeDefault;
}

.title {
  margin: 0 0 12px 0;
  padding: 0 $indentMobilePageBorder;
  text-align: center;
  font-weight: bold;
  font-size: $fontSizeExtraLarge;

  @media (min-width: $breakpointTablet) {
    padding: 0 $indentTabletPageBorder;
  }
}

.author {
  padding: 0 $indentMobilePageBorder 32px $indentMobilePageBorder;
  text-align: center;
  font-size: $fontSizeDefault;

  @media (min-width: $breakpointTablet) {
    padding: 0 $indentTabletPageBorder 32px $indentTabletPageBorder;
  }
}

.description {
  padding: 0 $indentMobilePageBorder 24px $indentMobilePageBorder;

  @media (min-width: $breakpointTablet) {
    padding: 0 $indentTabletPageBorder 24px $indentTabletPageBorder;
  }
}

.descriptionName {
  padding-bottom: 8px;
  font-size: $fontSizeSmall;
  font-weight: bold;
}

.descriptionContent p {
  margin-top: 0;
}

.gallery {
  padding-bottom: 40px;
  overflow: hidden;
}

.audioPlayer {
  padding: 0 $indentMobilePageBorder 40px $indentMobilePageBorder;

  @media (min-width: $breakpointTablet) {
    padding: 0 $indentTabletPageBorder 40px $indentTabletPageBorder;
  }
}
