@use 'sass:map';
@import '../../../variables.scss';

.root {
  margin: $indentMobilePageBorder;

  @media (min-width: map.get($breakpoints, sm)) {
    margin: $indentTabletPageBorder;
  }
}

.searchPanel {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: $contentWidth;
  margin: 0 auto;
}

.searchInput {
  width: 100%;

  @media (min-width: map.get($breakpoints, sm)) {
    max-width: 350px;
  }
}

.searchButton {
  margin-left: 15px;
  background-color: $colorOrange;
  transition: opacity 0.1s;

  &:hover {
    background-color: $colorOrange;
    opacity: 0.8;
  }
}

.searchError {
  color: var(--mantine-color-error);
  margin: 0 auto;
  max-width: $contentWidth;
  font-size: 14px;
  height: 22px;
}

.title {
  max-width: $contentWidth;
  margin: 0 auto 30px auto;
  font-weight: bold;
  font-size: $titleFontSize;
  line-height: normal;
}

.exhibitionContainer {
  margin-top: 50px;

  &:first-of-type {
    margin-top: 30px;
  }
}

.description {
  p {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;

  [data-active='true'] {
    background-color: $colorOrange;
    border-color: $colorOrange;
  }
}

.contentWrapper {
  position: relative;
}
