@use 'sass:map';
@import '../../../variables.scss';

.title {
  max-width: 900px;
  margin: 50px auto 40px auto;
  padding: 0 $indentMobilePageBorder;
  text-align: center;
  font-weight: bold;
  font-size: $titleFontSize;

  @media (max-width: map.get($breakpoints, md)) {
    font-size: $fontSizeXLarge;
  }
}

.gallery {
  padding-bottom: 40px;
  overflow: hidden;
}
