$colorBlack: #293040;

$breakpointTablet: 834px;

$fontFamilyMain: 'Montserrat', sans-serif;

$fontSizeExtraLarge: 32px;
$fontSizeDefault: 14px;
$fontSizeSmall: 12px;

$indentMobilePageBorder: 24px;
$indentTabletPageBorder: 40px;
